body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color:pink;
    color: black;
    padding: 20px;
    text-align: center;
}

h1, h2 {
    margin: 0;
}

.container {
    max-width: 960px;
    margin: 20px auto;
    padding: 0 20px;
}

.heading{
    background-image: url('wig.jpg');
    background-size: cover;
    text-align: center;
    color:pink;
    background-color: gray
    padding: 100px 0;
    margin-bottom: 20px;
}

.heading h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.heading p {
    font-size: 1.2em;
    color: black;
}

.product-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.product {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px;
    padding: 20px;
    width: 300px;
    text-align: center;
}

.product img {

    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
    height:auto;
        
}




footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    
}
